

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
/* html, body {
  overflow: hidden;
  height: 100%;
}  */

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

body{
  font-family: "Poppins";
}

/* Hide scrollbar for Firefox */

/* html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
} */
